* {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    color: #f2f2f2;
}


.navbar {
  background-color: #2e2e2e;
  padding: 16px 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__nav__logo {
  width: 150px;
}

.navbar__nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button {
  font-weight: bold;
  padding: 11px 22px;
  border-radius: 10px;
  background-color: #59268ccc;
  transition: all .3s ease-in;
  border: none;
}

.button:hover {
  background-color: #9a5ed6c0;
  color: #2e2e2e;
}

.footer {
  background-color: #2e2e2e;
  padding: 16px 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 150px;
}

.footer__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}


#jumbotrom {
  width: 100%;
  height: 650px;
  background-image: url(/img/Jumbotrom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotrom__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  font-size: 64px;
  gap: 30px;
}

.button__v2 {
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: transparent;
  transition: all .3s ease-in;
  border: 1px solid #f2f2f2;
  /* border-image: linear-gradient(45deg, #f2f2f2, #2e2e2e) 1; */
}

.button__v2:hover {
  background-color: #59268ccc;
}

.main__jumbotrom__title {
  width: 804px;
  height: 162px;
  font-size: 64px;
  text-align: center;
}
.title__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2e2e2e;
  gap: 10px;
}

h2 {
  font-size: 32px;
  text-align: center;

}

p {
  font-size: 18px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;

}

.cards__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 700px;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  gap: 15px;
}

.cards__items {
  border: 1px solid #2e2e2e65;
}

.img__galery {
  display: inline-block;
  padding: 1.5px;
}




main a,
main p,
main h2,
main h3,
main ul,
main h4,
main div,
main li,
main img {
  color: #2e2e2e;
}











